.inline{
	display: inline;
	margin: 10px;
	font-weight:normal;
}
.list {
    list-style-type: none;
    margin: 0px;
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px
}
.background{
	background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0.5)), url(/img/black_female.jpg);
	width: 1550px;
	height:500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	
}
.box{
background-color: white;
width: 320px;
height: 180px;
float: right;
margin: 25px;
}
.button{
	background: transparent;
	border: solid black;
	padding: 8px;
	/*margin-right: 150px;*/
}
#button1{
	background: green;
	border: solid green;
	padding: 10px;
	/*margin-left: 630px;*/
	color: white;
}
#button2{
	background: gray;
	border: solid gray;
	padding: 10px;
	/*margin-left: 15px;*/
	color: white;
}
p{
  color: black;
  font-family:  serif;
  /*text-align: center;*/

}
.text{
	color: gray;
  font-family:  serif;
  /*text-align: center;*/
}
.position{
	/*justify-content: center;*/
	padding-top: 100px;
	background-color: transparent;
}
/*.move{
	margin:0px;
	justify-content: center;
}*/

	.move2{
		list-style-type: none;
	    display: inline;
	    /*justify-content: center;*/
	    margin: 0px
}
#size{
	font-size: 36px;
}
a{
	text-decoration-line: none;
	color: black; 
}
